@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --clr-secondary-200: hsl(32, 37%, 92%);
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-400: hsl(228, 12%, 48%);
    --clr-neutral-900: hsl(212, 21%, 14%);
    --clr-primary-400: hsl(158, 36%, 37%);
    --clr-primary-500: hsl(158, 41%, 18%);

    --ff-accent:'Fraunces',serif;
    --ff-base:'Montserrat', sans-serif;

    --fw-regular: 500;
    --fw-bold: 700;
}

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

html,body{
  height: 100%;
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.7;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

h1,h2,h3{
  line-height: 1;
}

/* montserrat-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/montserrat-v31-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/montserrat-v31-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/montserrat-v31-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* fraunces-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/fraunces-v38-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* fraunces-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/fraunces-v38-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body{
    font-family: var(--ff-base);
    font-weight: var(--fw-regular);
    font-size: 0.875rem;
    color: var(--clr-neutral-400);
    background-color: var(--clr-secondary-200);
    display: grid;
    place-content: center;
    margin: 1rem;
}

.flex-group{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
}

.visually-hidden:not(:focus):not(:active){
  clip: rect(0 0 0 0);
  clip-path: insert(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.button{
  cursor: pointer;
  text-decoration: none;
  display: inline-flex;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 0.5rem;
  padding: 0.75em 1.5em;
  background-color:var(--clr-primary-400);
  color: var(--clr-neutral-100);
  font-weight: var(--fw-bold);
  font-size: 0.925rem;
}

.button[data-icon="shopping-cart"]::before{
  content: "";
  background-image: url(icon-cart.svg);
  width: 15px;
  height: 16px;
}

.button:is(:hover, :focus){
  background-color: var(--clr-primary-500);
}

.product{
  --content-padding: 1.5rem;
  --content-spacing: 1rem;
  display: grid;
  background-color: var(--clr-neutral-100);
  border-radius: 0.5rem;
  overflow: hidden;
  max-width: 600px;
}

@media (min-width: 600px){
  .product{
    --content-padding: 2rem;
    grid-template-columns: 1fr 1fr;
  }
}

.product_content{
  display: grid;
  gap: var(--content-spacing);
  padding: var(--content-padding);
}

.product_type{
  font-size: 0.8125rem;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.product_title{
  font-size: 2rem;
  font-family: var(--ff-accent);
  color:var(--clr-neutral-900)
}

.product_price{
  font-size: 2rem;
  font-family: var(--ff-accent);
  color: var(--clr-primary-400)
}

a{
  align-items: center;
  padding-top: 2rem;
}